{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="stylesheet" href="{% static 'static/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'static/css/personal_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/bootstrap.min.css' %}">
  <script src="{% static 'static/jquery-3.6.3.min.js' %}"></script>
  <script src="{% static 'static/js/bootstrap.bundle.min.js' %}"></script>

</head>

<body>
  <!--<div class="bg-img-container">
  <div class="bg-img"></div>

</div> -->

  <div class="bg-img-container">
    <div class="bg-img"></div>
  </div>
  <div class="main_container">
    <div class="row">
      <div class="col-sm-2" id=left-container style="background-color: white; height: 920px;"></div>
      <div class="col-sm-8" id=middle-container style="background-color: white; height: 920px">
        <script type="text/javascript">
          const handleLikeClick = (buttonId) => {
            token = localStorage.getItem("access")
            id = buttonId.split("-").pop()
            let ajax_url = "{% url 'diary:diary-list' %}" + id + "/like/"
            data_dic = { "diary_id": id }
            response = request_ajax(ajax_url, "POST", data_dic, token)
            console.log(response.num_like)
            const element = document.getElementById("num_like_" + id);
            console.log(element)
            element.innerHTML = `<div id=num_like>` + response.num_like + `개</div>`

          }
          const handleDelClick = (buttonId) => {
            token = localStorage.getItem("access")
            id = buttonId.split("-").pop()
            let ajax_url = "{% url 'diary:diary-list' %}" + id
            data_dic = { "diary_id": id }
            response = request_ajax(ajax_url, "DELETE", data_dic, token)
            const element = document.getElementById("content");
            element.innerHTML = response

          }
        </script>
        <button type="button" class="btn btn-primary" id="diary_create" data-bs-toggle="modal" data-bs-target="#modal_diary_create">+ <span>diary</span></button>


        <div id='error_msg' style='display:none'>
          <div style='color:red;'>
            로그인 하셔야합니당

          </div>
        </div>
        <div id='content'></div>
      </div>

      <div class="col-sm-2" id=right-container style="background-color: white; height: 920px;"></div>
    </div>


    <div class="modal fade" id="modal_diary_create" tabindex="-1" aria-labelledby="modal_diary_create_label"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal_diary_create_label">Create New Diary</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="d-grid gap-2">
              <div class="mb-3">
                <label for="diary_title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="diary_title">
              </div>
              <div class="mb-3">
                <label for="diary_contents" class="form-label">Contents:</label>
                <textarea class="form-control" id="diary_contents" rows="6"></textarea>
              </div>
              <div class="text-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function request_ajax(url, method, data_dic, token) {
        $.ajax({
          url: url,
          type: method,
          beforeSend: function (xhr) {
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.setRequestHeader("Authorization", "Bearer " + token);
          },
          async: false,
          data: JSON.stringify(data_dic),
          success: function (response) {
            result = response
          },
          error: function (e) {
            result = "error"
          }
        });
        return result;
      }
      $(document).ready(function () {

        let ajax_url = "{% url 'diary:diary-list' %}";

        let token = localStorage.getItem("access")
        response = request_ajax(ajax_url, "GET", {}, token)
        const element = document.getElementById('content');
        if (response == "error") {
          document.getElementById("error_msg").style.display = "block";
        }
        else {
          element.innerHTML = response;
        }
        const modal = new bootstrap.Modal(document.getElementById('modal_diary_create'));
        $("#diary_create").click(function () {
          modal.show();
        });




       $("#modal_diary_create form").submit(function (event) {
         event.preventDefault();
         let ajax_url = "{% url 'diary:diary-list' %}";
         const title = $("#diary_title").val();
         const contents = $("#diary_contents").val();
         data_dic = {"title" : title, "content" : contents};
         let token = localStorage.getItem("access")
         response = request_ajax(ajax_url, "POST", data_dic, token)
         const element = document.getElementById('content');
         if (response == "error") {
           document.getElementById("error_msg").style.display = "block";
         }
         else {
           element.innerHTML = response;
           console.log(response)
           console.log("Dd")
           console.log(element)
         }

         console.log(response)
         modal.hide();
       });



        $("#modal_diary_create button[data-bs-dismiss='modal']").click(function () {
          modal.hide();
        });
      });






    </script>


</body>

</html>