{% extends "../base.html" %}
{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<style>
    .go-back:hover svg {
        fill: #bbb;
    }

    .newsfeed-slider__item  {
        background-color: white;
        border-radius: 10px;
        height: 550px;
        flex-shrink: 0;
        margin: 20px;
        transition: all .3s;
        overflow: hidden;
        position: relative;
    }

    .diary-user__img {
        border-radius: 50%;
    }

    .diary-contents {
        height: 300px;
        position: relative;
    }

    .diary-contents__date_emoji {
        font-size: 15px;
    }

    .diary-contents__date {
        color: rgba(0,0,0,0.5);
    }

    .diary-contents__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .diary-contents__txt {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 12;
        overflow: hidden;
    }

    .diary-contents__tag {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    .diary-response {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .diary-contents__more {
        color: rgba(0, 0, 0, 0.5)
    }
    .diary-contents__more:hover {
        color: rgba(0, 0, 0, 1)
    }

    .liked:hover {
        fill: red;
    }


    /* diary_modal.html */

    .modal-content {
        animation: animations 0.3s linear;
    }

    @keyframes animations {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .diary-modal-content {
        height: 600px;
    }

    .diary-modal-content__main {
        width: 70%;
    }

    .add-comment {
        position: absolute;
        width: 70%;
        bottom: 0;
    }

    .add-comment__txtarea {
        resize: none;
        border-radius: 20px;
    }

    .add-comment__txtarea:focus {
        outline: none;
    }

    .add-comment__btn {
        border:0;
        background-color: transparent;
    }

    .diary-comments {
        position: relative;
        width: 30%;
    }
</style>

{% endblock %}

{% block content %}
{% include '__02_intro/diary_detail.html' %}
<div class="back mx-3 my-4">
    <a href="/personal/personal_blog/" class="go-back">
        <svg width="50" height="50" fill="white">
            <use xlink:href="#go-back"></use>
        </svg>
    </a>
</div>

<div class="newsfeed-slider"  data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
    {% if diary_list %}
        {% for diary in diary_list %}
        <!-- a diary -->
        <div class="newsfeed-slider__item">

            <!-- 유저 정보 -->
            <div class="diary-user d-flex border-bottom p-2 align-items-center" >
                <img src="{% static 'static/img/account/profile_on.webp' %}" class="diary-user__img" width="30" height="30"></img>
                <span class="diary-user__name mx-2"><strong>{{ diary.user.username }}</strong></span>
            </div>

            <!-- 다이어리 내용 -->
            <div calss="diary-contents">
                <div class="diary-contents__date_emoji p-2 d-flex justify-content-between">
                    <span class="diary-contents__date">
                        {{diary.create_at}}
                    </span>
                    <div class="diary-contents__emoji d-flex align-items-center">
                        <svg width="20" height="20" class="emoji">
                            <use xlink:href="#emoji-happy"></use>
                        </svg>
                        <span class="mx-2">Happiness</span>
                    </div>
                </div>
                <p class="diary-contents__title px-2">
                    {{ diary.title }}
                </p>
                <p class="diary-contents__txt px-2">
                    {{ diary.content }}
                </p>
                <p class="diary-contents__tag px-2">
                    {% for tag in data.tag %}
                        #{{tag.name}}
                    {% endfor %}
                </p>
                <p class="diary-contents__more px-2" id="to_detail">
                    자세히 보기
                </p>
            </div>

            <!-- 다이어리 반응 -->
            <div class="diary-response p-2 border-top">
                <svg width="16" height="16" class="liked">
                    <use xlink:href="#liked"></use>
                </svg>
                <span class="liked__count">{{ diary.num_like }}</span>
                <svg width="16" height="16" class="comments">
                    <use xlink:href="#comments"></use>
                </svg>
                <span class="comments__count">{{ diary.num_comment }}</span>

                <span class="diary-date__time mx-2">1시간 전</span>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>


<script>
    $( function() {
        $(".newsfeed-slider").slick({
            infinite: false,
            responsive: [{
                breakpoint: 1024,
                settings: {
                slidesToShow: 2,
                infinite: true
                }
            }, {
                breakpoint: 600,
                settings: {
                slidesToShow: 1,
                dots: true
                }
            }, {
                breakpoint: 300,
                settings: "unslick"
            }]
        });
    } );

    $(document).on("click","#to_detail", function(){
        const modals = document.querySelector('#modal_detail');
        let modal = bootstrap.Modal.getOrCreateInstance(modals)  
        modal.show()
    })


    $(function() {
        $('textarea').on('keydown', function(event) {
            if (event.keyCode == 13)
                if (!event.shiftKey){
                    event.preventDefault();
                    $('#comment-form').submit();
                }
        });
    });
</script>
{% endblock %}