{% extends "../base.html" %}
{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<style>
    .go-back:hover svg {
        fill: #bbbbbb;
    }

    .diary-slider {
        z-index: 2;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
    .diary-slider__wrp {
      display: flex;
      align-items: flex-start;
      position: relative;
      z-index: 2;
    }

    .diary-slider__item, .diary_hover  {
        background-color: white;
        border-radius: 20px;
        height: 550px;
        flex-shrink: 0;
        margin: 20px;
        padding: 40px;
        transition: all .3s;
    }

    .diary-hover:hover {
        transform: scale(1.05);
    }

    .line_limit {
      width: inherit;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      display:inline-block;
    }

    .diary-slider__ctr {
        position: relative;
        z-index: 12;
    }

    .diary-slider__arrow {
      background: #fff;
      border: none;
      display: inline-flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
      border-radius: 50%;
      z-index: 12;
      cursor: pointer;
      outline: none!important;
    }


    .diary__title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
    }

    .diary__txt {
        font-size: 18px;
        line-height: 1.5;
    }

    .diary-comment__more {
        color: rgba(0, 0, 0, 0.5)
    }
    .diary-comment__more:hover {
        color: rgba(0, 0, 0, 1)
    }

    .diary-date {
        font-size: 15px;
    }

    .heart:hover {
        fill: red;
    }

    .diary-user__img {
        border-radius: 50%;
    }

    .modal-content {
        animation: animations 0.3s linear;
    }

    @keyframes animations {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    /* diary_detail.html modal css */

    .comment-txtarea {
        resize: none;
        border-radius: 10px;
    }

    .comment-txtarea:focus {
        outline: none;
    }

    .comment-btn {
        border:0;
        background-color: transparent;
    }


</style>

{% endblock %}

{% block content %}
{% include '__02_intro/diary_detail.html' %}
<div class="back mx-3 my-4">
    <a href="/personal/personal_blog/" class="go-back">
        <svg width="50" height="50" fill="white">
            <use xlink:href="#go-back"></use>
        </svg>
    </a>
</div>

<!-- news feed -->
<div class="slider"  data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
    {% if diary_list %}
        {% for diary in diary_list %}
        <div class="diary-slider__item diary-hover swiper-slide" id="to_detail">
            <div class="diary-user d-flex">
                <img src="{% static 'static/img/account/profile_on.webp' %}" class="diary-user__img" width="30"></img>
                <span class="diary-user__name mx-2"><strong>{{ diary.user }}</strong></span>
                <button class="btn dropdown-button d-flex" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg width="20" height="20" fill="gray">
                        <use xlink:href="#three-dots"></use>
                    </svg>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><div class="dropdown-item">수정 중</div></li>
                    <li><div class="dropdown-item">Follower 99</div></li>
                    <li><div class="dropdown-item">Following 77</div></li>
                </ul>
            </div>
            <div class="diary__title">
                {{ diary.title }}
            </div>
            <p class="diary__txt">
                {{ diary.content }}
            </p>
            <div class="add mt-4">
                <svg width="16" height="16" class="heart">
                    <use xlink:href="#heart"></use>
                </svg>
                <span class="heart__count">좋아요 {{ diary.like }}개</span>
                <i class="fas fa-envelope"></i><span>댓글 n개</span>
            </div>

            <div class="diary-comments my-3">
                <div class="diary-comment">
                    <div class="diary-comment-user d-flex">
                        <img src="{% static 'static/img/account/profile1.jpg' %}" class="diary-user__img" width="18" height="18"></img>
                        <span class="diary-user__name mx-2"><strong>ahyun</strong></span>
                    </div>
                    <p class="diary-comment__txt my-0">
                        Lorem Ipsum is simply dummy text of the printing
                    </p>
                    <p class="diary-comment__more">
                        ... 더보기
                    </p>
                </div>
                <div class="diary-comment">
                    <div class="diary-comment-user d-flex">
                        <img src="{% static 'static/img/account/profile2.jpg' %}" class="diary-user__img" width="18" height="18"></img>
                        <span class="diary-user__name mx-2"><strong>hyunju</strong></span>
                    </div>
                    <p class="diary-comment__txt my-0">
                        Lorem Ipsum is simply dummy text of the printing
                    </p>
                    <p class="diary-comment__more">
                        ... 더보기
                    </p>
                </div>
            </div>

            <div class="diary-date">
                <span class="diary-date__time">1시간 전</span>
                <span class="diary-date" style="display: none;">2023.04.15</span>
            </div>  
        </div>
        {% endfor %}
    {% endif %}
</div>



<script>
    $( document ).ready( function() {
        $(".slider").slick({
            infinite: false,
            responsive: [{
                breakpoint: 1024,
                settings: {
                slidesToShow: 3,
                infinite: true
                }
            }, {
                breakpoint: 600,
                settings: {
                slidesToShow: 2,
                dots: true
                }
            }, {
                breakpoint: 300,
                settings: "unslick"
            }]
        });
    } );

    $(document).on("click","#to_detail", function(){
        const modals = document.querySelector('#modal_detail');
        let modal = bootstrap.Modal.getOrCreateInstance(modals)  
        modal.show()
    })
</script>
{% endblock %}