@import url('style.css');

.go-back:hover svg {
    fill: #bbb;
}

.newsfeed-slider__item {
    background-color: white;
    border-radius: 10px;
    height: 550px !important;
    flex-shrink: 0;
    margin: 20px;
    transition: all .3s;
    overflow: hidden;
    position: relative;
}

.diary-user {
    text-decoration: none;
    color: black;
}
.diary-user:hover {
    color: #444;
}

.diary-user__img {
    border-radius: 50%;
}

.diary-user__detail {
    cursor:pointer;
}

.diary-contents {
    height: 300px;
    position: relative;
}

.diary-contents__date_emoji {
    font-size: 15px;
}

.diary-contents__date, .diary-comment__date {
    color: rgba(0,0,0,0.5);
}

.diary-contents__emoji {
    color: var(--emoji-color-happiness);
    font-size: 15px;
    font-weight: bold;
}

.diary-contents__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.diary-contents__txt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 11;
    overflow: hidden;
}

.diary-contents__tag {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.diary-response {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.diary-contents__more, .diary-comment__more {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}
.diary-contents__more:hover, .diary-comment__more:hover {
    color: rgba(0, 0, 0, 1);
}

.liked {
    cursor : pointer;
}

.liked:hover {
    fill: red;
}


/* diary_modal.html */

.modal-content {
    animation: animations 0.3s linear;
}

@keyframes animations {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.diary-modal-content {
    height: 600px;
}

.diary-modal-content__main {
    width: 70%;
}

.diary-contents_detail {
    height: 490px;
    overflow-y: auto;
}

.diary-contents__txt_detail {
    display: block;
}

.add-comment {
    position: absolute;
    width: 70%;
    bottom: 0;
}

.add-comment__txtarea {
    resize: none;
    border-radius: 20px;
}

.add-comment__txtarea:focus {
    outline: none;
}

.add-comment__btn {
    border:0;
    background-color: transparent;
}

.diary-modal-content__comments {
    height: inherit;
    position: relative;
    width: 30%;
}

.diary-comments {
    height: 540px;
    overflow-y: auto;
}

.diary-comment__txt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

