Django==4.1.7
django-bootstrap5==23.1
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
tokenizers==0.13.3
tqdm==4.65.0
transformers==4.28.1
gunicorn
mysqlclient
django-cors-headers