{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block vt %}
    <meta name="view-transition" content="same-origin" />
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aivlary</title>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link href="{% static 'static/css/__base.css' %}" rel="stylesheet">
    
    {% block load %}
    {% endblock %}

    {% include "./_symbol.html" %}
    {% include "./_extern_library_font.html" %}
    <style>
    
    body {
        background-image: url("{% static 'static/img/account/background.webp' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow-x: hidden; 
        overflow-y: hidden;
        padding: 20px;
        height: 100vh;
        width: 100vw;
        margin: 0 auto;
    }

    {% block st %}
    {% endblock %}
    </style>
</head>

<body>

    {% include "./__my_follow_modal.html" %}
    {% block modal %}
    {% endblock %}
    
    <div class="container-fluid">
    {% block contents %}

    {% endblock %}
    </div>

    <script type="text/javascript">
        function request_ajax(url, method, data_dic, token) {
            $.ajax({
                url: url,
                type: method,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Content-type", "application/json");
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                async: false,
                data: JSON.stringify(data_dic),
                success: function(response) {
                    result = response
                },
                error: function(e) {
                    result = "error"
                }
            });
            return result;
        }

        $(document).on("click","#flwer_btn",function(){
            let my_follow_list_ajax_url = "{% url 'account:api-my-followlist' %}";    
            let token = localStorage.getItem("access")
            response = request_ajax(my_follow_list_ajax_url, "GET", {}, token)
            my_follow_modal_lists = document.getElementById('my-fl-modal-content');
            my_follow_modal_lists.innerHTML = response;

            if (response !== 'error') {
                const f_modal = document.querySelector('#modal_f_list');
                var modal = bootstrap.Modal.getOrCreateInstance(f_modal) 
                modal.show()
            }
        })

        
        $(document).on("click","#fling_btn",function(){
            let user_follow_list_ajax_url = "{% url 'account:api-user-followlist' 1 %}";    
            let token = localStorage.getItem("access")
            response = request_ajax(user_follow_list_ajax_url, "GET", {}, token)
            user_follow_modal_lists = document.getElementById('my-fl-modal-content');
            user_follow_modal_lists.innerHTML = response;

            if (response !== 'error') {
                const f_modal = document.querySelector('#modal_f_list');
                var modal = bootstrap.Modal.getOrCreateInstance(f_modal) 
                modal.show()
            }
        })

        {% block sc_main %}
        {% endblock %}

        {% block sc %}
        {% endblock %}
    </script>
</body>
</html>