{% extends "./base.html" %}
{% load static %}
{% block contents %}
        <div id='mainpage' class="row gx-5">
            <!-- 좌측 사이드바 -->
            <div id='left_contents' class="col-xl-2 narrow-hide" style="height: 95vh;">
                <div class="rounded-box" style="height: 40%;">
                    {% block right-up %}
                    {% endblock %}
                </div>
                <div class="rounded-box" style="height: calc(96.5% - 40%);">
                    {% block right-down %}
                    {% endblock %}
                </div>
            </div>

            <!-- 중앙 컨텐츠 -->
            <div id='main_contents' class="col-xl-8">
                <div class="rounded-box" style="height: 95vh;">
                    {% block center %}
                    {% endblock %}
                </div>
            </div>

            <!-- 우측 사이드바 -->
            <div id='right_sdb' class="col-xl-2">
                <div class="rounded-box" style="height: 95vh;">
                <div class="text-center">
                    {% include "./__side_profile.html" %}

                    <div class='narrow-hide'>
                    <!-- 일반 소셜 아이콘 -->
                    <div class="d-flex justify-content-center my-3 mx-3 px-3">
                        {% include "./__side_icon.html" %}
                    </div>

                    <!-- 메뉴 -->
                    <hr class="sidebar-divider my-2">
                    <div class="sidebar_menu menu_container ">
                    
                        <!-- user state에 따라 다른 메뉴 출력 필요 for문 -->
                        {% include "./__side_menu.html" %}
                        {% comment %} {% include "./__side_menu_other.html" %} {% endcomment %}
                    </div>

                    <!-- 하단 부가사항 -->
                    <div class="additional_menu mt-2">
                        <a href="#">About</a>
                        <a href="#">Contact Us</a>
                        <span>&copy; 2023 Aivlary</span>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

    
{% endblock %}


{% block sc_main %}

    function setActiveMenu() {
      const currentUrl = window.location.href;
      const menuLinks = document.querySelectorAll('.sideitem');

      menuLinks.forEach(link => {
        if (currentUrl === link.href) {
          link.classList.add('active');
        }
      });
    }
    

    $(document).ready(function() {
        
        setActiveMenu();

        token = localStorage.getItem("access")
            
        let profile_mn_url = "{% url 'account:api_my_profile_mn_info' %}"
        response = request_ajax(profile_mn_url, "GET", {}, token)
        if (response == "error") {
            document.getElementById("error_msg").style.display = "block";
        } else {
            main_pack = document.querySelector('.main-info-pack');
            main_pack.innerHTML = response
        }

        let profile_fw_url = "{% url 'account:api_my_profile_fw_info' %}"
        response = request_ajax(profile_fw_url, "GET", {}, token)
        if (response == "error") {
            document.getElementById("error_msg").style.display = "block";
        } else {
            follow_pack = document.querySelector('.follow-wrapper');
            follow_pack.innerHTML = response
        }

    });
{% endblock %}