{% extends "../../base_layout.html" %}
{% load static %}


{% block load %}

{% endblock %}

{% block st %}

{% endblock %}


{% block center %}


    <div class="new-updates">
      <button id='newsfeed_btn' class="new-updates-btn">새 소식</button>
      <div class="new-updates-count">5</div>
    </div>

    <div class="friend-list-container">

    {% for i in '0123456789'|make_list %}
      <div class="friend me-3 mt-1 my-3">
        <img class="profile-image" src="{% static 'static/img/__profile(dummy)/profile_01.webp' %}" alt="프로필 사진">
        <div class="friend-info">
          <div class="username">사용자1</div>
          <div class="status">온라인</div>
        </div>
        <button class="follow-btn">팔로우 중</button>
      </div>
      <hr class='text-secondary'>
    {% endfor %}
    </div>
{% endblock %}


{% block sc %}
    function animateOpacityAndMove(element, opacity, offsetX, offsetY, duration, callback) {
        if (opacity === 1) {
            element.style.visibility = "visible";
        }
      element.style.transition = `opacity ${duration}ms, transform ${duration}ms`;
      element.style.opacity = opacity;
      element.style.transform = `translate(${offsetX}px, ${offsetY}px)`;
      setTimeout(() => {
        element.style.transition = '';
        element.style.transform = '';
        callback && callback();
        if (opacity === 0 ){
            element.style.visibility = "hidden";
        }
      }, duration);
    }

    document.getElementById("newsfeed_btn").addEventListener("click", () => {
        animateOpacityAndMove(document.getElementById("left_contents"), 0, -100, 0, 500);
        animateOpacityAndMove(document.getElementById("main_contents"), 0, 0, -100, 500);
        const back_btn = document.getElementById("social_back_btn");
        back_btn.style.visibility = "visible";
        back_btn.style.opacity = 1;
        animateOpacityAndMove(document.getElementById("right_sdb"), 0, 100, 0, 500, () => {
        setTimeout(() => {
          const content = document.getElementById("content");
          content.classList.remove("hidden");
          animateOpacityAndMove(content, 1, 0, 100, 1000);
        }, 500);
      });
    });

{% endblock %}