{% extends "../../base_layout.html" %}
{% load static %}

{% block vt %}
    <meta name="view-transition" content="same-origin" />
    <style>
        @keyframes fromRight {
            from {
                opacity : 0 ;
                transform : translateX(30px);
            }
        }
        ::view-transition-new(root) {
            animation : 0.5s fromRight linear;
        }
    </style>
{% endblock %}

{% block load %}
{% endblock %}

{% block st %}

{% endblock %}


{% block center %}

    <div class="new-updates">
      <button class="new-updates-btn">새 소식</button>
      <div class="new-updates-count">5</div>
    </div>

    <div class="friend-list-container">

    {% for i in '0123456789'|make_list %}
      <div class="friend me-3 mt-1 my-3">
        <img class="profile-image" src="{% static 'static/img/__profile(dummy)/profile_01.webp' %}" alt="프로필 사진">
        <div class="friend-info">
          <div class="username">사용자1</div>
          <div class="status">온라인</div>
        </div>
        <button class="follow-btn">팔로우 중</button>
      </div>
      <hr class='text-secondary'>
    {% endfor %}
    </div>
{% endblock %}


{% block sc %}


{% endblock %}