{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="stylesheet"  href="{% static 'static/css/bootstrap.min.css' %}">
  <link rel="stylesheet"  href="{% static 'static/css/personal_style.css' %}">

</head>
 <body>
    <header id="right-side">
    <div id="d-flex flex-column">
      <div class="profile">
        <img src="{% static 'static/img/__logo/logo_test_bk.webp' %}"  alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="personal_blog.html">이름</a></h1>
        <br><br>

        </div>
      </div>
    </header>

 <div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-3">
          <div class = "card shadow my-3">
              <div class = "card-body">
                    <form action = "" method = "POST" class = "ui form">
                      {% csrf_token %}
                      {{  form  }} <!--포스트 모델-->
                      <input class = "btn btn-primary" type = "submit" value = "게시">
                    </form>
              </div>
          </div>
          
        </div>
        <div class="col-md-8">
            {% for post in posts %}  <!--게시 버튼을 누르면 생성-->
            <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>{{post.date_created}}</small>  <!--포스트 날짜-->
                            <hr>
                            <a class="h3" href="">{{post.title}}</a>
                            <p class="text-justify my-3">
                              {{post.content}}  <!--포스트 내용-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {{% endfor % }}
      </div>
  
        </div>
    </div>
</div>


</body>

</html>