{% load static %}


      <div class="friend me-3 mt-1 my-3">
        <img class="profile-image" src="{% static 'static/img/__profile(dummy)/profile_01.webp' %}" alt="프로필 사진">
        <div class="friend-info">
          <div class="username">사용자1</div>
          <div class="status">온라인</div>
        </div>
        <button class="follow-btn">팔로우 중</button>
      </div>
      <hr class='text-secondary'>
      <div class="friend me-3 mt-1 my-3">
        <img class="profile-image" src="{% static 'static/img/__profile(dummy)/profile_01.webp' %}" alt="프로필 사진">
        <div class="friend-info">
          <div class="username">사용자1</div>
          <div class="status">온라인</div>
        </div>
        <button class="follow-btn">팔로우 중</button>
      </div>
      <hr class='text-secondary'>

      {% comment %} 이상, 임시 목록. {% endcomment %}
{% if lgd == "fling" %}
    {% for following in data.following %}
      <div class="friend me-3 mt-1 my-3">
        <img class="profile-image" src="{% static 'static/img/__profile(dummy)/profile_01.webp' %}" alt="프로필 사진">
        <div class="friend-info">
          <div class="username">사용자1</div>
          <div class="status">온라인</div>
        </div>
        <button class="follow-btn">팔로우 중</button>
      </div>
      <hr class='text-secondary'>
    {% endfor %}
{% elif lgd == "flwer" %}
    {% for following in data.follower %}
      <div class="friend me-3 mt-1 my-3">
        <img class="profile-image" src="{% static 'static/img/__profile(dummy)/profile_01.webp' %}" alt="프로필 사진">
        <div class="friend-info">
          <div class="username">사용자1</div>
          <div class="status">온라인</div>
        </div>
        <button class="follow-btn">팔로우 중</button>
      </div>
      <hr class='text-secondary'>
    {% endfor %}
{% endif %}