{% extends "../base.html" %}
{% load static %}


{% block load %}
    <link href="{% static 'static/css/__login.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'static/js/__login.js' %}"></script>

{% endblock %}

{% block st %}
    .bg-img {
        position: absolute;
        width: 150% !important;
        height: 150% !important;
        top: -25%;
        left: -25%;
        background-image: url("{% static 'static/img/account/background.webp' %}");
        background-size: cover;
        background-position: center;
        animation: moveDiamond 60s cubic-bezier(.5,.28,.86,.69) infinite;
    }

{% endblock %}

{% block modal %}
    {% include './__addon/signup_modal.html' %} 
    {% include './__addon/forget_password_modal.html' %} 
{% endblock %}

{% block contents %}
<div class="bg-img-container">
    <div class="bg-img"></div>
</div>
<div class='vib'>
    <div id="container_login">
        <div class="d-flex mt-2 justify-content-center">
            <img src="{% static 'static/img/__logo/logo_test_bk.webp' %}" alt="" width="150" class="align-item-center my-4">
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="txt_field">
                <input type="email" name="email" id="email">
                <span></span>
                <label>이메일</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="password">
                <span></span>
                <label>비밀번호</label>
            </div>
            <div id="error_msg" style="display: none;">
                로그인 정보를 확인해주세요
            </div>
            <input type="button" value="Login" onclick="handleLoginClick()">
            <div class="sub_link">
                <a id="to_findpw" class='to_signup'>비밀번호 찾기</a>

                <a id="to_signup" class='to_signup'>회원가입</a>
            </div>
        </form>
    </div>
<div>
{% endblock %}


{% block sc %}

    function handleLoginClick(){
            const email = $("#email").val();
            const password = $("#password").val();
            let ajax_url = "{% url 'account:token_obtain_pair' %}"
            console.log(ajax_url)
            const data_dic = {"email":email,"password":password};

            result = request_ajax(ajax_url,"POST",data_dic);
            if (result.response=="complete"){
                localStorage.setItem("access",result.access);
                localStorage.setItem("refresh",result.refresh);
                localStorage.setItem("email",result.email);
                console.log("storage complete")
                location.href = "{% url 'diary:home' %}"
                }
            else{
                console.log("email activate");
            }
        }


    $(document).on("click","#submit_join", function(){
        alert("A")
        email = $("#join_email").val();
        nickname = $("#join_username").val();
        password = $("#join_password").val();
        let ajax_url = "{% url 'account:signup_validate' %}"
        data_dic = {"email":email, "nickname":nickname, "password":password}
        console.log(data_dic)
        result = request_ajax(ajax_url,"GET",data_dic);
        console.log(result)
        if (result.validation=="True"){
            let ajax_url = "{% url 'account:signup' %}";
            data_dic = {"email":email,"password":password,"username":nickname};
            result = request_ajax(ajax_url,"POST",data_dic);
        }
        else {
            const element = document.getElementById('error_modal');
            element.innerHTML = '<div id="error_modal">' + result.message + '</div>';
        }
    })
{% endblock %}