{% load static %}
<!doctype hmtl>
<html>
    <head>
        <title>Emotional Diary</title>
        <link rel="stylesheet" href="{% static "bootstrap-5.3.0-alpha1-dist\css\bootstrap.min.css" %}"/>
        <script src="{% static "jquery-3.6.3.min.js"  %}"></script>
        <script src="{% static "bootstrap-5.3.0-alpha1-dist\js\bootstrap.min.js"  %}"></script>
    
    </head>
    
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert={{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <body>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
              <span class="fs-4"> Emotional Diary</span>
            </a>
      
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
              <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
              <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
              <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
              <a class="py-2 text-dark text-decoration-none" href="#"> Profile </a>
            </nav>
        </div>      
        {% block content %}
        {% endblock %}
        <div class='container'>
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                  <div class="col-12 col-md">
                    <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
                    <small class="d-block mb-3 text-muted">© 2017–2022</small>
                  </div>
                  <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                    </ul>
                  </div>
                </div>
              </footer>
        </div>
    </body>
</html>