{% extends "../base_layout.html" %}
{% load static %}



{% block right-up %}
우측상단
{% endblock %}

{% block right-down %}
<div id="follow-suggestion-list"></div>
{% endblock %}


{% block center %}
중앙 컨텐츠
{% endblock %}

{% block sc %}
      function request_ajax(url, method, data_dic, token) {
        $.ajax({
          url: url,
          type: method,
          beforeSend: function (xhr) {
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.setRequestHeader("Authorization", "Bearer " + token);
          },
          async: false,
          data: JSON.stringify(data_dic),
          success: function (response) {
            result = response
          },
          error: function (e) {
            result = "error"
          }
        });
        return result;
      }
let ajax_url = "{% url 'account:api_user_suggestion' %}";
console.log(ajax_url)
let token = localStorage.getItem("access")
response = request_ajax(ajax_url, "GET", {}, token)
const element = document.getElementById('follow-suggestion-list');
if (response == "error") {
  document.getElementById("error_msg").style.display = "block";
}
else {
  element.innerHTML = response;
}
{% endblock %}