/* personal_blog.html */
}

body {
  background-image: url('../img/account/background.webp');
  overflow: hidden;
}
.main_container {
  margin: 15px; 
}
#left-container {
  border: 3px solid black;
  background-color: white;
  width: 20%; 
  float: left; 
  margin-left : 5px;
  margin-right: 10px; 
  border-radius: 10px; 
}
#middle-container {
  border: 3px solid black;
  background-color: white;
  width: 55%; 
  float: left;
  margin-right: 10px; 
  margin-left: 25px; 
  border-radius: 10px; 
  overflow:scroll;
}
#right-container {
  border: 3px solid black;
  background-color: white;
  width: 20%; 
  float: left; 
  margin-left: 25px; 
  border-radius: 10px; 
}
#diary_create {
  margin-top: 10px;
  font-weight: bold;
  height : 50px;
  font-size : 20px;
}
#diary_create span {
  margin-left: 40px; 
}

.btn-primary {
  background-color: white;
  color: black; 
  border: 2px solid black;
}
.btn-secondary {
  background-color: white;
  color: black; 
  border: 2px solid black;
}
.diary-list {
  margin-top:30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.diary_list_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-button {
  border: none;
  background: none;
  float: right;
}

.delete-button {
  background: none;
  border: none;
  color: black;
  float: right;


.diary .content {
margin-top: 20px;
font-size: 18px;
line-height: 1.5;
}

.diary .date {
font-size: 14px;
color: gray;
margin-top: 10px;
text-align: right;
margin-right : 10px;
}

.add {
margin-top : 20px;
display: inline-block;
color: red;
font-size: 18px;
cursor: pointer;
}

.heart__count {
display: inline-block;
font-weight:500;
color: black;
font-size: 18px;
margin-left: 5px;
vertical-align: middle;
}

.fa-envelope {
display: inline-block;
font-weight:600;
color: black;
font-size: 18px;
margin-left: 20px;
vertical-align: middle;
}
.fa-envelope span {
margin-left : 10px;
font-weight: 500;
}
.comment {
font-size: 14px;
color: #666;
margin-left: 10px;
}

.top-title{
font-weight: 600;
margin-top : 30px;
display: flex; 
justify-content: center;
font-size : 25px;
}
.bottom-title{
font-weight: 600;
margin-top : 80px;
display: flex; 
justify-content: center;
font-size : 25px;
}

.user{
display: flex; 
justify-content: center;
font-size : 20px;
font-weight: bold;
}


.my-user{
display: flex; 
justify-content: center;
font-size : 40px;

}



.icon {
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 20px;
}
.icon i {
margin: 0 30px;
border: none;
background-color: black;
color: white;
padding: 10px;
font-size: 32px;
border-radius: 50%;
cursor: none;
transition: all 0.2s ease-in-out;
}
.icon i:hover {
transform: scale(1.1);
cursor: pointer;
}
.icon i:active {
cursor: none;
}

.edit-content-input {
  width: 100%;
  height : 200px;
}


/* diary_comment.html */



/* diary_edit.html */
.save-button {
  float: right;


}