:root {
    --base-color: #ededed;
    --secondary-color: #6768ab;
    --accent-color: #ffcc00;

    --sub-color-a:#aee4ff;
    --sub-color-b: #b5c7ed;
    --sub-color-c: #c4f4fe;
}

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

#sidebar {
    width: 20vw;
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
    background-color: rgba(181, 199, 237, 0.5)
}

#main-content {
    margin-left: 20vw;
}

header {
    width: calc(100% - 20vw);
    height: 80px;
    top: 0;
    position: fixed;
    left: 20vw;
}

#content {
    margin-top: 75px;
    padding: 2rem 1.5rem;
    min-height: calc(100vh - 80px);   
}